In [49]:
import  pandas as pd 
from sklearn.preprocessing import StandardScaler,MinMaxScaler,MaxAbsScaler,RobustScaler

In [50]:
df = {
    'age':[25,30,35,40,45],
    'height':[165,170,175,180,185],
    'weight':[55,60,65,70,75]
}

### convert dataset into dataframe

In [51]:
df=pd.DataFrame(df)
df

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

### Transfrmation using standardscaler

In [52]:
#import scaler
scaler = StandardScaler()
#fit the scaler on data
scaled_df=scaler.fit_transform(df)
scaled_df

array([[-1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356]])

# MinMaxScaler

In [53]:
#import scaler
scaler = MinMaxScaler()
#fit the scaler on data
scaled_df=scaler.fit_transform(df)
scaled_df

array([[0.  , 0.  , 0.  ],
       [0.25, 0.25, 0.25],
       [0.5 , 0.5 , 0.5 ],
       [0.75, 0.75, 0.75],
       [1.  , 1.  , 1.  ]])

# MaxAbsScaler

In [54]:
#import scaler
scaler = MaxAbsScaler()
#fit the scaler on data
scaled_df=scaler.fit_transform(df)
scaled_df

array([[0.55555556, 0.89189189, 0.73333333],
       [0.66666667, 0.91891892, 0.8       ],
       [0.77777778, 0.94594595, 0.86666667],
       [0.88888889, 0.97297297, 0.93333333],
       [1.        , 1.        , 1.        ]])

# RobustScaler

In [55]:
#import scaler
scaler = RobustScaler()
#fit the scaler on data
scaled_df=scaler.fit_transform(df)
scaled_df

array([[-1. , -1. , -1. ],
       [-0.5, -0.5, -0.5],
       [ 0. ,  0. ,  0. ],
       [ 0.5,  0.5,  0.5],
       [ 1. ,  1. ,  1. ]])

In [48]:
scaled_df

array([[0.55555556, 0.89189189, 0.73333333],
       [0.66666667, 0.91891892, 0.8       ],
       [0.77777778, 0.94594595, 0.86666667],
       [0.88888889, 0.97297297, 0.93333333],
       [1.        , 1.        , 1.        ]])

### convert data into pandas dataframe  rows and columns

In [57]:
scaled_df = pd.DataFrame(scaled_df,columns=df.columns,)
scaled_df

   age  height  weight
0 -1.0    -1.0    -1.0
1 -0.5    -0.5    -0.5
2  0.0     0.0     0.0
3  0.5     0.5     0.5
4  1.0     1.0     1.0